*{
    font-family: 'poppins';
    margin: 0;
}

body{
    margin: 0;
    width: 100%;
    height: 100%;
}


.container{
    margin: 0 ;
}

.banner{
    width: 60rem;
    height: 17rem;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 15px;
}

.mural{
    border: 2px solid rgb(100, 100, 100);
    border-radius: 15px;
    width: 40rem;
    height: 7rem;
    margin: 0 auto;
    margin-top: 30px;
    padding-top: 0;
    background-color: white;
  
}

.mural2{
  border: 2px solid rgb(100, 100, 100);
  border-radius: 15px;
  width: 40rem;
  height: 7rem;
  margin: 0 auto;
  margin-top: 30px;
  padding-top: 0;
  background-color: white;
  margin-bottom: 30px;

}

.fa-solid {
    font-size: 30px;
    margin: 0;
    margin-top: 10px;
    margin-left: 10px;
    color: #ed145c; 
}

.fa-sharp{
    font-size: 25px;
    margin-bottom: 8px;
    margin-right: 35px;
    
}

.aluno{
    display: inline-flex;
    position: relative;
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 0px;  
}

.mensagem{
    color: rgb(0, 0, 0);
    margin-top: 15px;
}

.tempo{
    margin-top: 5px;
    font-size: 13px;
    opacity: 0.8;
}


.tudo{
    border: 4px solid #ed145c;
    border-radius: 15px;
    margin: 0 auto;
    width: 950px;
    margin-top: 40px;
    height: auto;
    background-color: rgba(128, 128, 128, 0.123);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ed145c96;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ed145c;
  }
  

  .segundoHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(219, 217, 217); 
    padding: 20px;
    
    
    
    
  }

  a{
    text-decoration: none;
  }

  .txtsegundoheader{
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    
    
  }


  .active2{
    color: #ed145c;
    
  }

  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ed145c96;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ed145c;
}


.popup-button,
.popup .close-popup-button {
    background-color: #ed145c;
    border: none;
    padding: 8px 30px;
    border-radius: 16px;
    text-transform: uppercase;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all .4s;
    margin: 12px 0;
}

.popup-button:hover,
.popup .close-popup-button:hover {
    opacity: .8;
}

.popup-button:active,
.popup .close-popup-button:active {
    transform: scale(.8);
}

.popup {

    background-color: rgb(255, 255, 255);
    border-width: 1px; 
    border-style: solid; 
    border-color:  #ed145c; 
    padding: 30px 50px;
    border-radius: 8px;
    text-align: center;
    width: 500px;
    height: 300px;
    box-sizing: border-box;
    transition: all .4s;
    z-index: -1;
    transform: scale(.0);
    opacity: 0;
   
}

.popup.opened {
    z-index: 999;
    transform: scale(1);
    opacity: 1;
    margin: 0 auto;
    margin-top: -1200px;
    
}


.popup h2.title {
    color: #ed145c;
}




.txtarea{
  width: 400px;
  height: 130px;

}


@media (max-width: 375px)
{
    .banner{
      width: 350px;
      height: 150px;
    }

    .tudo{
      width: 340px;

    }
    .mural{
      width: 280px;
    }
    
    .mural2{
      width: 280px;
    }
    
    .popup{
      width: 300px;
    }

    .txtarea{
      width: 180px;
      height: 80px;
    
    }
    
    
}

@media (max-width: 336px)
{
    .banner{
      width: 310px;
      height: 150px;
      
    }

    .tudo{
      width: 300px;

    }
    .mural{
      width: 280px;
    }
    
    .mural2{
      width: 280px;
    }
    
    .popup{
      width: 300px;
    }

    .txtarea{
      width: 180px;
      height: 80px;
    
    }
    
    
}
