@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'poppins';
}

.titulo{
    margin: 20px;
    color: grey;
    margin-bottom: 0;
}

hr{
    color: grey;
    width: 97%;
    height: 1px;
}
.container{
    margin: 20px ;
}

.material{
height: 4rem;
width: 60rem;
border: 2px solid grey;
margin: 0 auto;
margin-top: 20px;
text-decoration: none;
color: #ed145c;



}

.material:hover{
  background-color: #ed145c;
  transition: 0.8s;
  color: white;
  
}

.nome{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 10px;
    
}



.segundoHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(219, 217, 217); 
    padding: 20px;
    
  }

  a{
    text-decoration: none;
  }

  .txtsegundoheader{
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    
    
  }


  .active2{
    color: #ed145c;
    
  }

  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ed145c96;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ed145c;
}



@media (max-width: 1360px)
{
  .material
   {
    width: 40rem;
   }

   .titulo{
    text-align: center;
    margin: 0 auto;
   }

}

@media (max-width: 900px)
{
  .material
   {
    width: 20rem;
   }

   .titulo{
    text-align: center;
    margin: 0 auto;
   }

}




@media (max-width: 700px)
{
  .material
   {
    width: 30rem;
   }

   .titulo{
    text-align: center;
    margin: 0 auto;
    
   }

}



@media (max-width: 500px)
{
  .material
   {
    width: 20rem;
   }

   .titulo{
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    
   }

}


@media (max-width: 375px)
{
  .material
   {
    width: 15rem;
   }

   .titulo{
    text-align: center;
    margin-top: 20px;
   }

   .nome{
    font-size: 20px;
    margin: 0 auto;
    margin-top: 18px;
   }

}
