*{
    scroll-behavior: smooth;
}
body{
    padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}

#home{
    background-image: linear-gradient(rgba(9,5,54,0.3),rgba(5,4,46,0.7)),url(../img/banner_branco.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#home h2{
    width: 50%;
    color: #fff;
    font-size: 2.2rem;
    line-height: 25px;
}

#home p{
    width: 50%;
    color: #fff;
    font-size: 0.9rem;
    line-height: 25px;
}

#home .btn{
    margin-top: 17%;
}

#home a{
    text-decoration: none;
    font-size: 15px;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
}

#home a.blue{
    color: #fff;
    background: #ed145c;
    transition: 0.3s ease;
}

#home a.blue:hover{
    color: #ed145c;
    background: #fff;
}

#home a.yellow{
    color: #fff;
    background: #ed145c;
    transition: 0.3s ease;
}

#home a.yellow:hover{
    color: #ed145c;
    background: #fff;
}

p{
    font-size: 25px;
}

h1{
    font-size: 50px;
    color: #ed145c;
    text-align: center;

}

h2{
    font-size: 30px;
    text-align: center;
}

#features{
    padding: 5vw 8vw 0 8vw;
    text-align: center;
}

#features .fea-base{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#features .fea-box{
    background: #f9f9ff;
    text-align: start;
    border-radius: 15px;
}

#features .fea-box i{
    font-size: 2.3rem;
    color: #ed145c;
}

#features .fea-box h3{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(46, 46,59);
    padding: 13px 0 7px 0;
}

#features.fea-box p{
    font-size: 1rem;
    font-weight: 400;
    color: rgb(0, 0, 197);
}

#features .fea-box:hover{
    background-color: #ed145c96;
    transition: 1s;
}

#icons{ 
    text-align: center;
    padding: 8vw;
  
}

#icons .icons-img{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#icons .icons-img img{
    width: 200px;
    height: auto;
}

.title{
	text-align: center;
}

.package-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	grid-gap: 2rem;
	align-items: center;
	margin-top: 8rem;
}
.sla{
    margin-top: 25px;
}
.thum{
	position: relative;
	transition: all .3s cubic-bezier(.445,.05,.55,.95);
	will-change: filter;
	cursor: pointer;
}
.thum img{
	width: 100%;
	height: auto;
}
.thum h3{
	position: absolute;
	font-size: 30px;
	font-weight: 600;
	text-align: right;
	color: var(--bg-color);
	top: 36px;
	right: 40px;
}

.dest-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding-top: 24px;
}
.stars i{
	color: var(--main-color);
	font-size: 20px;
}
.location h4{
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 8px;
}

.thum:hover{
	filter: brightness(100%) hue-rotate(45deg);
	transform: scale(1.04);
}

/*header*/

@media (max-width: 1140px){
    nav{
        z-index: 900;

        display: none;
        flex-direction: column;

        position: fixed;
        padding: 5px;
        width: 370px;
        height: 100%;

        background-color: #424242;
        box-shadow: -5px 0px 60px black;
        transition: ease-in-out 0.2s;

        text-transform: uppercase;

        background-image: url('../img/geometric-gray-shapes.png');
        background-size: 250%;
        background-position: -10px 100px;
        background-repeat: no-repeat;
        background-blend-mode: color-burn;

        animation-name: transicao-suave;
        animation-timing-function: ease-in-out;
        animation-duration: 0.3s;
    }

    nav div{
        display: flex;
    }

    nav #divNavLinks{
        flex-direction: column;

        margin-top: 30px;
    }

    nav #divNavLinks a, nav div a{
        flex-direction: column;

        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 4px;
        margin-bottom: 4px;

        color: white;

        font-size: 20px;
        text-decoration: none;
        font-family: Poppins;
        font-weight: 900;

        transition: 0.2s;
    }

    nav #divNavLinks a:hover{
        background-color: white;
        color: black;
    }

    nav #divNavLoginCadastro{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        margin-top: 30px;
    }

    nav #divNavLoginCadastro span{
        font-size: 12px;
        font-weight: 100;
        text-transform: none;
    }

    nav #btnNavLogin, #btnNavCadastro{
        margin-top: 15px;
        margin-bottom: 5px;
        transition: 0.2s;
    }

    nav #btnNavLogin{
        background-color: white;
        color: black;
        border-radius: 10px;
    }

    #btnNavLogin:hover{
        background-color: black;
        color: white;
    }

    nav #btnNavCadastro{
        background-color: #ED145C;
        border-radius: 10px;
    }

    #btnNavCadastro:hover{
        background-color: rgb(255, 122, 193);
    }

    /**/

    nav #divAcessibilidade{
        position: fixed;
        bottom: 5px;
    }

    #btnModoEscuroClaro{
        cursor: pointer;
        width: 40px;
        height: 40px;
    }

    #botaoModoEscuroClaroFullScreen{
        display: none;
    }

    
    /**/

    nav #imgLogoNav{
        -webkit-user-drag: none;
        -webkit-user-select: none;
        user-select: none;

        width: 200px;
    }

    nav #btnFecharMenu{
        -webkit-user-drag: none;
        -webkit-user-select: none;
        user-select: none;

        cursor: pointer;

        position: relative;
        left: 125px;

        padding: 8px 14px 8px 14px;
        
        color: white;
        border: 1.5px solid white;
        border-radius: 6px;

        font-weight: 900;
        font-size: 25px;

        transition: 0.2s;
    }

    nav #btnFecharMenu:hover{
        background-color: #ffffff;
        color: #424242;
    }

    /**/

    header{
        position: sticky;
        top: 0px;
    
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    
        background-color: transparent;
    
        font-family: Poppins;
        text-transform: uppercase;
        font-weight: 900;
    
        transition: 0.5s ease-in-out;
    }

    header .link-header{
        display: none;
    }

    header #linkLogin, #linkCadastro{
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;
    
        color: black;
        text-decoration: none;
        font-size: 15px;
    
        transition: 0.2s;
    }

    header #logoEnsinotec{
        display: none;
    }

    header #logoEnsinotec-mq{
        display: block;

        width: 35px;
        height: 35px;
        margin-left: 16px;
    }
    
    header #btnMenuHamburguer{
        -webkit-user-select: none;
        -webkit-user-drag: none;
        user-select: none;
        cursor: pointer;
        display: block;
    
        width: 35px;
        height: 35px;
        margin-left: 10px;
        margin-right: 6px;
    
        transition: ease-in-out 0.9s;
    }

    /**/

    footer{
        flex-direction: column;
        justify-content: center;

        padding-left: 30px;
        padding-right: 40px;
        padding-bottom: 10px;
    }

    footer div{
        margin-bottom: 40px;
        justify-content: flex-start;
        align-items: flex-start;
    }

    #divContato{
        align-items: flex-start;
        align-self: flex-start;
    }

    footer a{
        font-size: 20px;
    }

    /**/
    /**/
    /**/
}

@keyframes transicao-suave{
    0%{
        opacity: -100%;
    }

    20%{
        opacity: -80%;
    }

    30%{
        opacity: -60%;
    }

    40%{
        opacity: -40%;
    }

    20%{
        opacity: -20%;
    }

    0%{
        opacity: 0%;
    }
}

/*Cor principal: Azul (#5271ff)*/
/*Cor destaque: Verde-água (#00f0a0)*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

::selection{
    color: white;
    background-color: #ed145c;
}

body{
    margin: 0px;
    background-color: white;

    height: 100%;
}

nav, nav div{
    display: none;
}

header{
    z-index: 700;

    position: sticky;
    top: 0px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    background-color: white;

    font-family: Poppins;
    text-transform: uppercase;
    font-weight: 900;

    transition: 0.5s ease-in-out;
}

header a { font-size: 14px;}

header #divLinksHeader, #divLinkLoginCadastro, #divLogoEMenu{
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

header .link-header, #linkLogin, #linkCadastro{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 25px;
    padding-right: 25px;

    color: black;
    text-decoration: none;

    font-size: 18px;

    transition: 0.2s;
}

header .link-header::after{
    content: '';
    width: 0px;
    height: 2px;
    background-color: #ed145c;
    display: block;
    margin: 0px;
    transition: 0.5s;
}

header .link-header:hover::after{
    width: 100%;
}


header #linkCadastro{
    background-color: #ED145C;
    color: white;
}

header #linkCadastro:hover{
    background-color: #e94d81;
}

header #linkCadastro:active{
    transition: 0s;
    background-color: white;
    color: black;
}

header #botaoModoEscuroClaroFullScreen{
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;

    width: 40px;
    height: 40px;
    margin-left: 8px;
    margin-right: 8px;
}

header #logoEnsinotec{
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;

    width: 140px;
    margin-left: 8px;
    margin-top: 5px;
}

header #logoEnsinotec-mq{
    -webkit-user-drag: none;
    user-select: none;
    -webkit-user-select: none;
    display: none;
}

header #btnMenuHamburguer{
    -webkit-user-select: none;
    -webkit-user-drag: none;
    user-select: none;
    cursor: pointer;
    display: none;

    width: 25px;
    height: 25px;
    margin-left: 18px;
    margin-right: 12px;

    transition: ease-in-out 0.9s;
}

header #btnMenuHamburguer:hover{
    transform: rotateZ(360deg);
}


header #logoEnsinotec a{
    margin: 0px;
    padding: 0px;
    width: 0px;
    height: 0px;
}



#divContato{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-left: 15px;
}

#divContato .iconContato{
    width: 30px;

    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;

    border-radius: 8px;

    transition: 0.3s;
}

.iconContato:hover{
    background-color: #ed145c;
}

/**/

nav{
    display: none;
}

/**/

header{
    animation-name: none;
    animation-timing-function: linear;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

@keyframes cores-gradiente{
    0%{
        background-color: #5271ff;
    }
    
    20%{
        background-color: #526cff;
    }

    40%{
        background-color: #7552ff;
    }

    60%{
        background-color: #a352ff;
    }

    80%{
        background-color: #7552ff;
    }

    100%{
        background-color: #526cff;
    }
} 

.pro-links{
    margin-top: 10px;
}

.pro-links i{
    padding: 10px 13px;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.3 ease;
}

.pro-links i:hover{
    background: #ed145c;
    color: #fff;
    border: 1px solid #ed145c;
    cursor: pointer;
}

#contact{
    padding-left: 4vw;
    margin-top: 4vw;
    margin-bottom: 6vw;
    justify-content: space-between;
    align-items: flex-start;
    
}

#contact .getin{
    width: 350px;
}

#contact .getin h2{
    color: #ed145c;
    font-size: 30px;
    font-weight: 800;
    line-height: .8;
    margin-bottom: 16px;
}

#contact .getin p{
    color: #000000;
    line-height: 24px;
    margin-bottom: 33px;
    font-weight: 800;
    padding-bottom:25px ;
    border-bottom: 1px solid #e5e4ed;
}

#contact .getin h3{
    color: #2c234d;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 15px;
}

#contact .getin .getin-details div{
    display: flex;
}

#contact .getin .getin-details div .get{
    font-size: 16px;
    line-height: 22px;
    color: #4d2323;
    margin-right: 20px;
}

#contact .getin .getin-details div p{
    font-size: 14px;
    border-bottom: none;
    line-height: 22px;
    margin-bottom: 15px;
}

#contact .getin .getin-details .pro-links i{
    margin-right: 8px;
}


#contact .form{
    width: 60%;
    background: #000000;
    padding: 40px;
    border-radius: 10px;
    margin-left: 600px;
    margin-top: -600px;
}

#contact .form h4{
    font-size: 24px;
    color: #ed145c;
    line-height: 30px;
    margin-bottom: 8px;
}

#contact .form p{
    color: #ffffff;
    line-height: 24px;
    padding-bottom: 25px;
}

#contact .form .form-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#contact .form .form-row input{
    width: 48%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background: #fff;
    color: #7e7c87;
    outline: none;
    padding: 20px 30px;
    margin-bottom: 20px;
    margin: 10px;
}

#contact .form .form-col input,
#contact .form .form-col textarea{
    width: 70%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background: #fff;
    color: #7e7c87;
    outline: none;
    padding: 20px 30px;
    margin-bottom: 20px;
    margin: 10px;
}

#contact .form button{
    font-size: .9rem;
    padding: 13px 25px;
    background: #ed145c;
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
}

#map{
    width: 100%;
    height: 70vh;
    margin-bottom: 2vw;
}

#map iframe{
    width: 100%;
    height: 100%;
}

.section{
	padding: 0px 13%;
}

.center-text{
	text-align: center;
}
.center-text h5{
	color: #ed145c;
	font-size: 50px;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 20px;
}

.main-botao{
	text-align: center;
	margin-top: 5rem;
}
.botao{
	display: inline-block;
	padding: 16px 30px;
	font-size: 16px;
	font-weight: 700;
	background: #ed145c;
	color: white;
	border-radius: 30px;
	transition: all .40s ease;
}
.botao:hover{
	transform: scale(0.9) translateY(-5px);
}

.courses{
    background: url(../img/coursebg.png);
	background-size: cover;
	background-position: center;
}

.courses-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, auto));
	gap: 2rem;
	align-items: center;
	margin-top: 4rem;
	cursor: pointer;
	border-radius: 15px;
}
.row{
	background: var(--bg-color);
	padding: 0px 0px 10px 0px;
	border-radius: 20px;
	box-shadow: 0px 5px 40px rgb(19 8 73 / 13%);
	transition: all .40s ease;
}
.row:hover{
	transform: translateY(-15px);
}
.row img{
	width: 100%;
	height: 320px;
	object-fit: cover;
	border-radius: 15px 15px 0px 0px;
}
.courses-text{
	padding: 35px 20px;
}
.courses-text h5{
	color: #ed145c;
	font-size: 18px;
	font-weight: 700;
}
.courses-text h3{
	font-size: 24px;
	font-weight: 700;
	line-height: 34px;
	margin: 15px 0 15px;
	transition: all .40s ease;
}
.courses-text h3:hover{
	color: var(--main-color);
}
.courses-text h6{
	color: #696969;
	font-size: var(--p-font);
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 1px;
	margin-bottom: 30px;
}
.rating{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}
.star i{
	color: var(--main-color);
	margin-right: 2px;
	font-size: 17px;
}
.review p{
	color: #696969;
	font-size: var(--p-font);
	font-weight: 400;
	letter-spacing: 1px;
}

.cta-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(170px, auto));
	gap: 2rem;
	align-items: center;
	text-align: center;
	margin-top: 5rem;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ed145c96;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ed145c;
  }
  

/**/

footer{
    background-color: black;
    padding-top: 69px;
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer #footerLogo{
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
    width: 240px;
}

footer a{
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    
    text-decoration: none;
    font-family: Poppins;
    font-weight: 900;
    font-size: 18px;

    transition: 0.3s;
}

footer a:hover{
    transition: 0.4s;
    color: #a0a0a0;
}

footer div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

footer div h1{
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;

    font-family: Poppins;
}

  .container {
    display: flex;
    height:55vh;
    align-items: center;
    justify-content: center;
    perspective: 90rem;
    perspective-origin: 30% 60%;
  }
  
  .div-transform {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }
  
  .card {

    color: #ffffff;
    border-radius: 8px;
    padding: 20px 10px;
    width: 350px;
    transition: 0.5s ease;
    overflow: hidden;
    transform: translate(0);
  }
  
  .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.85;
  }
  
  .card h2 {
    text-transform: capitalize;
  }
  
  .card h4 {
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 48px;
  }
  
  .card-1 {
    background-size: cover;
    transform: scale(1.02);
    margin-right: 40px;
  }
  
  .card-1:hover {
    transform: scale(1.11);
    box-shadow: -7px 4px 28px -3px #b527cf;
  }
  
  .card-1::before {
    background: linear-gradient(90deg, #b527cf 0%, #ed145c 100%);
  }
  
  .card-2 {
    background-size: cover;
    transform: scale(1.01);
    margin-right: 31px;
  }
  
  .card-2:hover {
    transform: scale(1.1);
    box-shadow: -7px 4px 28px -3px #3bd9d9;
  }
  
  .card-2::before {
    background: linear-gradient(90deg, #b527cf 0%, #ed145c 100%);
  }
  
  .card-3 {
    background-size: cover;
  }
  
  .card-3:hover {
    transform: scale(1.08);
    box-shadow: -7px 4px 28px -3px #ed145c;
  }
  
  .card-3::before {
    background: linear-gradient(90deg, #b527cf 0%, #ed145c 100%);
  }
  
  .topcards{
    text-align: center;
     margin-top: 90px;
     padding-bottom: 0;
  }

  .subtitle{
    font-size: 35px;
    margin-top: 70px;
    margin-bottom: 20px;
  }

  /**/

.img-comp-container {
    position: relative;
    height: 45vh;
    
}

.img-comp-img {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
    
   
}

.img-comp-img img {
    display: block;
    vertical-align: middle;
    
}

.img-comp-slider {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    width: 40px;
    height: 40px;
    background-color: #ed145c;
    opacity: 0.7;
    border-radius: 50%;
    
}

.align-comparation{
    margin-top: 20px;
    width: 0vw;
    padding: 0;
    margin: 0;
    margin-left: 25%;
}


