.secgrupos{
    margin: 0;
}

.card{
    background-color: #ed145c;
    border-radius: 20px;
    margin: 20px;
}

.cardimg{
  border-radius: 20px 20px 0px 0px ;
}

.btn {

	background-color:#ed145c;
	border-radius:14px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    margin-left: 90px;
}
.btn {
	  color: #fff;
    background: #ed145c;
    transition: 0.3s ease;
    
}
.btn:hover {
	color: #ed145c;
    background: #fff;
}

.titulocard{
  font-size: 20px;
  height: 0px; 
  margin-top: 8px; 
  margin-left: 5px;
  text-align: center;
  color: #fff;
}
