.sec-professor img{
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.sec-professor{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    margin: 10px;
    padding: 8px;
    width: 100%;
}

.sec-professor a{
    text-decoration: none;
    color: unset;
}

.titulo-sec{
    align-self: flex-start;
    margin: 0px;
    font-weight: 100;
}

.h3-grupo{
    margin-top: 20px;
    margin-bottom: 10px;

    align-self: center;
    font-weight: 100;
    color: #7a7a7a;
    text-transform: uppercase;
    font-size: 20px;
}

.div-hr{
    background-color: #ed149a;

    padding: 0.5px;
    width: 100%;
}

/**/

.prof-grupo{
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.nomeGrupo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin: 0px;
    padding: 10px;
    background-color: #ED145B;
    border-radius: 10px 10px 0px 0px;

    font-weight: 900;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
}

    .configGrupos{
        cursor: pointer;
        width: 25px;
        padding: 4px;
        margin-left: 20px;

        border-radius: 100%;
    }

    .configGrupos:hover{
        background-color: #ffffff71;
    }

.detalhesGrupo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    margin: 0px;
    padding: 10px;

    border: 2px solid #ED145B;
    border-radius: 0px 0px 10px 10px;
}

/**/

.numeroInfo{
    display: flex;
    flex-direction: row;
    align-items: stretch;

    margin-bottom: 12px;

    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.363);
}

    .numeroInfo .imgTurma{
        width: 25px;
        height: auto;
        object-fit: contain;
        padding: 15px;
        background-color: #888888;
    }

    .numeroAlunos{
        display: flex;
        align-items: center;
        padding: 8px;
        border: 1px solid #888888;

        width: 100%;
    }

    .textoUsuarios{
        color: rgb(78, 78, 78);
    }

        .hoverUsuario:hover{
            cursor: pointer;
            color: black;
            font-weight: 900;
        }

/**/

.nomeSubgrupo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin: 0px;
    padding: 10px;
    background-color: #ed149a;
    border-radius: 10px 10px 0px 0px;

    font-weight: 900;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
}

.detalhesSubgrupo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    margin: 0px;
    padding: 10px;

    border: 1px solid #ed149a;
    border-radius: 0px 0px 10px 10px;
}

    .subgrupoInfo{
        display: flex;
        flex-direction: column;
    }

    .infoAtualizacoes{
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 10px;

        transition: 0.2s;
    }

    .infoAtualizacoes:hover{
        cursor: pointer;
        background-color: #88888842;
    }

    .infoAtualizacoes img{
        width: 30px;
        padding: 4px;
        height: auto;
        object-fit: contain;
    }

    .infoAtualizacoes .ultimaAtualizacao{
        color: #888888;
        font-size: 14px;
    }

.sec-subgrupo{
    display: flex;
    flex-direction: column;

    margin-top: 20px;
}

    .sec-subgrupo h3{
        align-self: center;

        margin: 0px;
        margin-bottom: 8px;
        font-weight: 100;
        text-transform: uppercase;

        color: rgb(78, 78, 78);
    }

.corpo-div-ativ{
    display: flex;
    flex-direction: column;

    margin: 0px;

    transition: 0.2s;
}

.corpo-div-ativ:hover{
    filter: brightness(1.4);
}

.header-div-ativ{
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: rgb(95, 41, 255);
    border-radius: 10px 10px 0px 0px;

    margin: 0px;

    transform: 0.2s;
}

    .header-div-ativ div{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header-div-ativ .imgAtiv{
        width: 35px;
        padding: 10px;
        border-radius: 10px 0px 0px 0px;

        background-color: rgb(95, 41, 255);
    }

    .imgEditar{
        width: 25px;
        border-radius: 100%;
        padding: 4px;

        margin-right: 10px;
    }

    .imgEditar:hover{
        background-color: rgba(164, 134, 255, 0.541);
    }

    .header-div-ativ .tituloAtiv{
        color: white;
        text-transform: uppercase;
        font-weight: 900;

        margin-left: 8px;
    }

    .div-ativ-detalhes{
        display: flex;
        flex-direction: column;

        padding: 10px;

        border: 1px solid rgb(95, 41, 255);
        border-radius: 0px 0px 10px 10px;
    }
        .descricaoAtiv{
            color: rgb(78, 78, 78);
        }

        .infoEntregues{
            display: flex;
            flex-direction: row;

            margin-top: 30px;
        }

        .ativEntregues{
            color: #7a7a7a;
            text-transform: uppercase;
        }

        .dataAtiv{
            color: #7a7a7a;
        }

        .hoverEntregues{
            margin-left: 4px;
        }

        .hoverEntregues:hover{
            cursor: pointer;
            color: black;
            font-weight: 900;
        }

        .verif{
            width: 20px;
            object-fit: contain;

            margin-left: 6px;
        }

.linkVerAtividades{
    align-self: center;

    width: 90%;
    margin-top: 20px;
    padding: 16px;
    border-radius: 20px;

    background-color: rgb(155, 41, 255);
    color: white!important;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;

    transition: 0.2s;
}

.linkVerAtividades:hover{
    background-color: rgb(189, 114, 255);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.226);
}

/**/

.infoClassific{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

    .infoClassific span{
        user-select: none;
        -webkit-user-select: none;
        -webkit-user-drag: none;
        text-transform: uppercase;
        color: #7a7a7a;
    }

.corpoBarra{
    margin: 0px;
    border-radius: 10px;
    border: 1px solid #888888;
}

.barraDesempenho{
    padding: 4px;
    border-radius: 10px;
}

.statusDesempenho{
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    padding-left: 10px;
}

    .statusDesempenho span{
        margin-bottom: 0px;
        color: #888888;
    }

/**/

.divCorpoLink{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin: 0px;
    margin-top: 8px;

    transition: 0.2s;
}

.divCorpoLink:hover{
    filter: brightness(1.2);
}

    .imgDivCorpoLink{
        width: 18px;
        object-fit: contain;
        padding: 10px;
        background-color: #ed149a;
        border-radius: 10px 0px 0px 10px;
    }

    .descLink{
        color: white;
        padding: 10px;
        padding-right: 12px;
        font-weight: 900;
        background-color: #ed149a;
        border-radius: 0px 10px 10px 0px;
        width: 100%;
    }

    /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ed145c96;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ed145c;
  }

/**/