.left-section{

    width: 20%;
    height: 100%;
    background-color: white;

}

.right-section{

    width: 80%;
    height: 100%;
    background-color: white;

}

.left-section .header{

    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
  

}

.left-section .header img{

    width: 15%;
    height: 80%;
    border-radius: 100%;

}

.left-section .header .menu{

    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: right;

}


.left-section .header .menu i{

    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;

}

.left-section .search{

    width: 100%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;

}
.left-section .search div{
    width: 90%;
    height: 80%;
    border-radius: 100px;
    background-color: rgb(218, 214, 214);
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-section .search div input{

    width: 78%;
    height: 70%;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 16px;
    margin-left: 5%;

}

.left-section .search div i{

    font-size: 16px;
    color: #464949;
    margin-left: 1%;

}

.left-section .messages{

    width: 100%;
    height: 85%;
    background-color: rgb(255, 255, 255);
    overflow-y: auto;
    overflow-x: hidden;
    color: rgb(0, 0, 0);


}

.left-section .messages .item{

    width: 94%;
    height: 12%;
    padding: 2% 3%;
    display: flex;
    align-items: center;
    position: relative;
    border-top: 1px solid rgb(197, 197, 197);
    cursor: pointer;
    transition: 0.5s;
  


}

.left-section .messages .item.active{

    background-color: #dddddd;

}
.left-section .messages .item:hover{

    background-color: #dddddd;

}

.left-section .messages .item .time{

    position: absolute;
    top: 15%;
    right: 2%;
    font-size: 14px;
    


}

.left-section .messages .item img{

    width: 22%;
    height: 80%;
    border-radius: 100%;
    box-shadow: 0 0 5px 0 #ed145c;
    

}
.left-section .messages .item .des{

    height: 80%;
    width: 83%;
    margin-left: 4%;
    

}

.left-section .messages .item .des .name{

    width: 100%;
    margin-bottom: 3%;
    margin-top: 3%;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
   

}

.left-section .messages .item .des .message{

    color: rgb(0, 0, 0);
    width: 97%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.right-section{

    width: 80%;
    height: 100%;
    background-color: rgb(255, 255, 255);

}

.right-section .header{

    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    color: rgb(0, 0, 0);

}

.right-section .header img{

    width: 3.9%;
    height: 80%;
    border-radius: 100%;

}

.right-section .header .details{

    width: 80%;
    height: 85%;

}

.right-section .header .details .name{

    font-weight: 600;
    margin-top: .4%;
    margin-bottom: .2%;
   

}

.right-section .header .details .status{

    font-size: 14px;

}

.right-section .header .buttons{

    width: 10%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.right-section .header .buttons i{

    font-size: 23px;
    cursor: pointer;

}

.right-section .messages-container{

    width: 100%;
    height: 81%;
    overflow: auto;

}

.right-section .messages-container .message{

    width: 100%;
    margin-top: 2%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 2%;

}

.right-section .messages-container .message.receiver{
    justify-content: right;
}

.right-section .messages-container .message.receiver .msg{

    border-radius: 18px;
    border-bottom-right-radius: 2px;
    margin-right: 2%;
    background-color: #0000002a;
    color: rgb(0, 0, 0);

}

.right-section .messages-container .message .msg{

    max-width: 50%;
    padding: 1.6%;
    background-color: #ed145c50;
    color: black;
    border-radius: 18px;
    border-bottom-left-radius: 2px;
    margin-left: 2%;

}

.right-section .messages-container .message .receiver{

    right: 0;

}

.right-section .input-box{

    width: 100%;
    height: 11%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    color: rgb(214, 210, 210);

}

.right-section .input-box p{

    font-size: 18px;
    cursor: pointer;
    margin-left: 1%;
    margin-right: .2%;

}

.right-section .input-box input{

    width: 85%;
    height: 60%;
    margin-left: 1%;
    margin-right: 1%;
    outline: none;
    border: none;
    background-color: rgb(247, 241, 241);
    border-radius: 100px;
    padding: 2%;

}
.right-section .input-box button{

    width: 6%;
    height: 60%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 4px;

}


/* Menu lateral */
@import url('https://fonts.googleapis.com/css?family=Poppins');

::selection{
    background-color: #ED145B;
    color: white;
}



nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin: 0px;

    background-color: #282828;

    background-image: url('../temp-img/geometric-gray-shapes.png');
    background-blend-mode: color-dodge;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

nav .sec-acessibilidade{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 20px;
}

.sec-acessibilidade div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sec-acessibilidade #btnAjuda, #btnConfig{
    cursor: pointer;

    padding: 10px;
    border-radius: 100%;
    margin-left: 20px;
    margin-right: 20px;

    transition: 0.3s;
}

#btnAjuda:hover, #btnConfig:hover{
    background-color: rgba(155, 155, 155, 0.644);
}

nav section div{
    display: flex;
    flex-direction: row;
    align-content: flex-start;

    margin: 0px;
    width: 100%;
}

nav section div a{
    cursor: pointer;
    display: flex;
    flex-direction: row;

    padding: 10px;
    padding-right: 100%;
    margin-right: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;

    color: white;
    font-family: 'Poppins';
    text-decoration: none;
    transition: 0.3s;
}

nav section div a label { cursor: pointer; font-size: 20px; width: 100%;}

.navIcones, .btnAcessibilidade{
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    margin-right: 15px;
    width: 25px;
    height: 25px;
}

.btnAcessibilidade:hover{
    background-color: none;
}

main{
    display: flex;
    flex-direction: column;

    width: 100%;

    background-color: white;

    overflow-y: auto;
}

header{
    position: sticky;
    top: 0px;
    padding: 20px;
    background-color: white;
}

nav section div a:hover{
    background-color: #ff005591;
}

/**/

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: white;
    box-shadow: 35px -35px 50px black;
}

header div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#menuHamburguer{
    display: none;

    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;

    cursor: pointer;
    width: 35px;
    margin-right: 20px;
}

#imgLogo{
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;

    width: 200px;
}

#imgLogoMq{ display: none; }

#divUsuario img{
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;

    transition: 0.2s;
}

#nomeUsuario{
    font-family: 'Poppins';
    margin-right: 6px;
    margin-left: 30px;
}

#btnEntrarNaSala{
    width: 30px;
    height: 30px;
}

#imgPerfilUsuario{
    width: 40px;
    height: 40px;
}

#btnNotificacao{
    margin-left: 40px;
    margin-right: 40px;

    width: 30px;
    height: 30px;
}

#imgPerfilUsuario:hover, #btnEntrarNaSala:hover, #btnNotificacao:hover, #menuHamburguer:hover{
    transition: 0.2s;
    filter: brightness(1.4);
}

main #navMenuHamburguer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin: 0px;

    background-color: #282828;

    background-image: url('../temp-img/geometric-gray-shapes.png');
    background-blend-mode: color-dodge;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#menuLateralMq{
    display: none;
}

/**/

@media (max-width: 720px) {
    nav{
        display: none;
    }

    body, main{
        overflow-x: hidden;
    }

    #imgLogo{ display: none; }

    #imgLogoMq{
        user-select: none;
        -webkit-user-select: none;
        -webkit-user-drag: none;

        display: block;
        width: 40px;
    }

    #menuHamburguer{
        display: block;
    }

    #menuLateralMq{
        position: sticky;
        top: 82px;
        display: none;
        padding: 100px;
        width: 100%;
        align-items: flex-start;
        padding: 0;

        background-image: none;
    }

    #menuLateralMq section{
        margin-bottom: 30px;
    }

    #menuLateralMq section div a{
        padding: 10px;
        padding-right: 600%;
        margin-right: 80px;
        padding-top: 40px;
        padding-bottom: 40px;
        width: 100%;
    }

    #menuLateralMq section div a:hover{
        background-color: #ED145B;
    }
}