
body {
    font-family: Tahoma;
  }


  
  #calendar {
    width: 100%;
    margin-top: 34%;
   
  }
  
  #calendar a {
    color: #8e352e;
    text-decoration: none;
  }
  
  #calendar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  #calendar li {
    display: block;
    float: left;
    width: 14.342%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-right: -1px;
    margin-bottom: -1px;
  }
  
  #calendar ul.weekdays {
    height: 40px;
    width: 94.5%;
    margin-left: 10px;
    background: #ed145c;
    margin-top: -15px;
    
  }
  
  #calendar ul.weekdays li {
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
    border: none !important;
    padding: 10px 6px;
    color: #fff;
    font-size: 13px;
    
  }
  
  #calendar .days li {
    height: 120px;
    width: 13%;
    margin-left: 10px;
    margin-top: 10px;
  }
  
  #calendar .days li:hover {
    background: #d3d3d3;
  }


  #calendar .date {
    text-align: center;
    margin-bottom: 5px;
    padding: 4px;
    background: #333;
    color: #fff;
    width: 20px;
    border-radius: 50%;
    float: right;
  }

  #calendar .date1 {
    text-align: center;
    margin-bottom: 5px;
    padding: 4px;
    background: #29282823;
    color: rgb(0, 0, 0);
    width: 20px;
    border-radius: 50%;
    float: right;
  }
 
  #calendar .event {
    clear: both;
    display: block;
    font-size: 13px;
    border-radius: 4px;
    padding: 5px;
    margin-top: 40px;
    margin-bottom: 5px;
    line-height: 14px;
    background: #a1e9e9;
    border: 1px solid #76d0d3;
    color: #09c6df;
    text-decoration: none;
  }
  
  .event1{
    clear: both;
    display: block;
    font-size: 13px;
    border-radius: 4px;
    padding: 5px;
    margin-top: 40px;
    margin-bottom: 5px;
    line-height: 14px;
    background: #1cd41c4d;
    border: 1px solid #5821211c;
    color: #ffffff;
    text-decoration: none;
  }

  .event2{
    clear: both;
    display: block;
    font-size: 13px;
    border-radius: 4px;
    padding: 5px;
    margin-top: 40px;
    margin-bottom: 5px;
    line-height: 14px;
    background: #ffa600bb;
    border: 1px solid #1807071c;
    color: #ffffff;
    text-decoration: none;
  }

  .event3{
    clear: both;
    display: block;
    font-size: 13px;
    border-radius: 4px;
    padding: 5px;
    margin-top: 40px;
    margin-bottom: 5px;
    line-height: 14px;
    background: #ff282893;
    border: 1px solid #1807071c;
    color: #ffffff;
    text-decoration: none;
  }

  .event4{
    clear: both;
    display: block;
    font-size: 13px;
    border-radius: 4px;
    padding: 5px;
    margin-top: 40px;
    margin-bottom: 5px;
    line-height: 14px;
    background: rgba(255, 217, 0, 0.747);
    border: 1px solid #1807071c;
    color: #ffffff;
    text-decoration: none;
  }


  #calendar .event-desc {
    color: rgb(0, 0, 0);
    margin: 3px 0 7px 0;
    text-decoration: none;
  }
  
  #calendar .other-month {
    background: #29282823;
    color: #666;
  }

  #calendar .other-month1 {
    background: #ffffff23;
    color: #666;
    border: none;
  }

 

  

  .mexer{
  margin-left: 100px;
  margin-top: -550px;
  }
  


/* Menu lateral */

.nav{
  width: 100px;
  height: 525px;
 
}
.menu-lateral {
	grid-area: menu;
	overflow: hidden;
	width: 100px;
  height:880px;
  background-color: rgb(255, 255, 255);

}

.menu-lateral a {
	color: #000000;
	display: block;
	padding: 13px 35px;
	transition: background-color 0.3s ease-in-out;

}

.menu-lateral a:hover,
.menu-lateral a:focus,
.menu-lateral a:active {
	background-color: #e5e5e5;
}

.menu-lateral a.active {
	background-color: #e5e5e5;
	font-weight: 700;
}

.menu-lateral a i {
	color: #ed145c;
	margin-right: 2rem;
	margin-bottom: 50px;
	width: 20px;
}

.menu-lateral a.active i {
	color: #ff0000;
}

.menu-lateral hr {
	border: 1px solid #dfdfdf;
	margin: 20px 0;
}


button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  margin-top: 45px;
  margin-left: 40px;
}
button.learn-more {
  width: 12rem;
  height: auto;
}
button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #ed145c;
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}

#container {
    grid-area: main;
    align-self: center;
    justify-self: center;
  }



  /* ============================
                  Mobile Responsiveness
     ============================*/
  @media (max-width: 768px) {
    #calendar .weekdays, #calendar .other-month {
      display: none;
    }
  
    #calendar li {
      height: auto !important;
      border: 1px solid #ededed;
      width: 100%;
      padding: 10px;
      margin-bottom: -1px;
    }
  
    #calendar .date {
      float: none;
    }
  }






  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    position: relative;
}

.popup-button,
.popup .close-popup-button {
    background-color: #ed145c;
    border: none;
    padding: 8px 30px;
    border-radius: 16px;
    text-transform: uppercase;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all .4s;
    margin: 12px 0;
}

.popup-button:hover,
.popup .close-popup-button:hover {
    opacity: .8;
}

.popup-button:active,
.popup .close-popup-button:active {
    transform: scale(.8);
}

.popup {
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-width: 1px; 
    border-style: solid; 
    border-color:  #ed145c; 
    padding: 30px 50px;
    border-radius: 8px;
    text-align: center;
    width: 500px;
    height: 300px;
    box-sizing: border-box;
    transition: all .4s;
    z-index: -1;
    transform: scale(.0);
    opacity: 0;
}

.popup.opened {
    z-index: 999;
    transform: scale(1);
    opacity: 1;
    margin-left: 700px;
    margin-top: -500px;
}

.popup img {
    width: 100px;
}

.popup h2.title {
    color: #ed145c;
}

.popup p.desc {
    color: rgb(0, 0, 0);
}


.input{
 border: 2px solid #ed145c;
 border-radius: 10px;
}
