
#button {
    border-radius: 40px;
    border: 0;
    height: 40px;
    padding: 0 30px;
    background-color: #ed145c;
    color: white;
  }

  .section1 {
    margin-top: 30px;
    padding: 20px 50px;
    background-color: #ffffff;
    width: 1000px;
    margin-left: 270px;
    border-width: 1px; 
    border-style: solid; 
    border-color:  #ed145c; 
    height: 150px;
  }
  
  .h3o {
    color: #000000;
    }
  
  .mmm {
    background-color: #ed145c;
    border: 0;
    border-radius: 20px;
    height: 50px;
    padding: 0 30px;
    color: white;
    margin-left: 558px;
    margin-top: 110px;
    position: fixed;

    
  }

  .md{
    text-align: center;
    height: 10px;
  }

  .mf{
    margin-left: 80px;
    color:rgba(126, 125, 125, 0.781);
    margin-bottom: -10px;
  }


  .img{
    width: 400px;
    height: 190px;
    margin-left: -50px;
    margin-top: -20px;
  }

  .hr1{
    width: 1500px;
    height: 1px;
    background-color: #aca5a548;
    margin-left: 80px;
    margin-top: 200px;
    position: absolute;
  }
  
  .hr2{
    width: 1500px;
    height: 1px;
    background-color: #aca5a548;
    margin-left: 80px;
    margin-top: 520px;
    position: absolute;
  }


  