
#button {
    border-radius: 40px;
    border: 0;
    height: 40px;
    padding: 0 30px;
    background-color: #ed145c;
    color: white;
  }

  .section1 {
    margin-top: 30px;
    padding: 20px 50px;
    background-color: #ffffff;
    width: 850px;
    margin-left: 80px;
    border-width: 1px; 
    border-style: solid; 
    border-color:  #ed145c; 
    height: 110px;
  }
  

  .h3o {
    color: #000000;
    }
  
  .mmm {
    background-color: #ed145c;
    border: 0;
    border-radius: 20px;
    height: 30px;
    width: 118px;
    padding: 0 30px;
    color: white;
    margin-left: 500px;
    margin-top: 30px;
    position: relative;

    
  }

  .mm2 {
    background-color: #ed145c;
    border: 0;
    border-radius: 20px;
    height: 30px;
    width: 118px;
    padding: 0 30px;
    color: white;
    margin-left: 500px;
    margin-top: 5px;
    position: relative;

    
  }

  .md{
    text-align: center;
    height: 10px;
  }

  .mf{
    margin-left: 80px;
    color:rgba(126, 125, 125, 0.781);
    margin-bottom: -10px;
  }


  .img{
    width: 320px;
    height: 150px;
    margin-left: -50px;
    margin-top: -20px;
  }

  .hr1{
    width: 1500px;
    height: 1px;
    background-color: #aca5a548;
    margin-left: 80px;
    margin-top: 20px;
    position: relative;
  }
  
  .hr2{
    width: 1500px;
    height: 1px;
    background-color: #aca5a548;
    margin-left: 80px;
    margin-top: 20px;
    position: relative;
  }

  .atvd{
    margin-left: 320px;
    margin-top: -150px;
    position: relative;
    font-size: 20px;
    
  }
  
  .drento{
    margin-left: 320px;
    margin-top: 10px;
    font-size: 20px;
    color: #838383;
  
    
  }

  .data{
    margin-left: 720px;
    margin-top: -20px;
    color: #838383;
    position: relative;
  }

  .data2{
    margin-left: 720px;
    margin-top: -20px;
    color: #838383;
    position: relative;
  }



  