@import url('https://fonts.googleapis.com/css?family=Poppins');

::selection{
    background-color: #ED145B;
    color: white;
}

html { height: 100%; width: 100%; }

body {
    display: flex;
    flex-direction: row;

    height: 100%;
    width: 100%;
    margin: 0px;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin: 0px;

    background-color: #282828;

    background-image: url('../temp-img/geometric-gray-shapes.png');
    background-blend-mode: color-dodge;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

nav .sec-acessibilidade{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 20px;
}

.sec-acessibilidade div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sec-acessibilidade #btnAjuda, #btnConfig{
    cursor: pointer;

    padding: 10px;
    border-radius: 100%;
    margin-left: 20px;
    margin-right: 20px;

    transition: 0.3s;
}

#btnAjuda:hover, #btnConfig:hover{
    background-color: rgba(155, 155, 155, 0.644);
}

nav section div{
    display: flex;
    flex-direction: row;
    align-content: flex-start;

    margin: 0px;
    width: 100%;
}

nav section div a{
    cursor: pointer;
    display: flex;
    flex-direction: row;

    padding: 10px;
    padding-right: 100%;
    margin-right: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;

    color: white;
    font-family: 'Poppins';
    text-decoration: none;
    transition: 0.3s;
}

nav section div a label { cursor: pointer; font-size: 20px; width: 100%;}

.navIcones, .btnAcessibilidade{
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    margin-right: 15px;
    width: 25px;
    height: 25px;
}

.btnAcessibilidade:hover{
    background-color: none;
}

main{
    display: flex;
    flex-direction: column;

    width: 100%;

    background-color: white;

    overflow-y: auto;
}

header{
    position: sticky;
    top: 0px;
    padding: 20px;
    background-color: white;
}

nav section div a:hover{
    background-color: #ff005591;
}

/**/

header{
    z-index: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: white;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.144);
}

header div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#menuHamburguer{
    display: none;

    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;

    cursor: pointer;
    width: 35px;
    margin-right: 20px;
}

#imgLogo{
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;

    width: 200px;
}

#imgLogoMq{ display: none; }

#divUsuario img{
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;

    transition: 0.2s;
}

#nomeUsuario{
    font-family: 'Poppins';
    margin-right: 6px;
    margin-left: 30px;
}

#btnEntrarNaSala{
    width: 30px;
    height: 30px;
}

#imgPerfilUsuario{
    width: 40px;
    height: 40px;
}

#btnNotificacao{
    margin-left: 40px;
    margin-right: 40px;

    width: 30px;
    height: 30px;
}

#imgPerfilUsuario:hover, #btnEntrarNaSala:hover, #btnNotificacao:hover, #menuHamburguer:hover{
    transition: 0.2s;
    filter: brightness(1.4);
}

main #navMenuHamburguer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin: 0px;

    background-color: #282828;

    background-image: url('../temp-img/geometric-gray-shapes.png');
    background-blend-mode: color-dodge;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#menuLateralMq{
    display: none;
}

/**/

.janelaHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 30px;

    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.301);
    font-family: 'Poppins';
    text-align: center;
}

.janelaHeader button{
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.janelaHeader label{
    font-weight: 900;
}

.janelaHeader div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

/**/

#janelaPerfil, #janelaNotif, #janelaEntrarGrupo{
    display: none;

    top: 70px;
    right: 10px;
}

#janelaPerfil label{
    margin: 0px;
}

#janelaPerfil #emailUsuario{
    cursor: text;
    font-weight: 100;
}

#janelaPerfil #imgPerfilJanelaPerfil {
    cursor: default;

    width: 75px;
    height: 75px;
}

#janelaPerfil #verPerfil{
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 20px;
    margin-bottom: 20px;

    border: 2px solid #ED145B;
    border-radius: 50px;

    color: #ED145B;
    text-decoration: none;

    transition: 0.2s;
}

#janelaPerfil #btnEncerrarSessao{
    cursor: pointer;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;

    border: none;
    border-radius: 50px;

    color: #424242;
    background-color: transparent;
    text-decoration: none;
    font-size: 15px;

    transition: 0.2s;
}

#verPerfil:hover{
    background-color: #ED145B;
    color: white!important;
    font-weight: 900;
}

#janelaPerfil #btnEncerrarSessao:hover{
    background-color: rgb(234, 234, 234);
    box-shadow: 0px 3px 50px rgba(0, 0, 0, 0.112);
}


/**/

#janelaNotif{
    padding: 20px;
}

#janelaNotif #secaoNotif{
    margin-bottom: -10px;
}

#janelaNotif .divNotificacoes{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    margin: 0px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    transition: 0.2s;
}

#janelaNotif .divNotificacoes:hover{
    background-color: rgb(228, 228, 228);
}

.divNotificacoes h4, p{
    margin: 3px;
    align-self: start;
    margin-left: 23px;
}

.divNotificacoes p{
    font-weight: 100;
    font-size: 14px;
    margin-top: -5px;
}

.divNotificacoes div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.divNotificacoes img{
    width: 80px;
    height: 80px;

    border-radius: 100%;
}

#secaoNotifNovas, #secaoNotifAntigas{
    align-self: flex-start;
    font-weight: 100;
    text-transform: uppercase;

    margin-top: 30px;
    margin-left: -12px;
    font-size: 12px;
}

/**/

#janelaEntrarGrupo #secaoEntrarGrupo{
    margin-bottom: 20px;
}

#secaoInsiraOCodigo{
    font-weight: 100;
}

#inputCodigoGrupo{
    width: 250px;
    margin-top: 6px;
    margin-bottom: 10px;
    padding: 10px;

    border-radius: 5px;
    border: 1px solid gray;

    font-family: monospace;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    color: gray;
}

#inputCodigoGrupo:focus{
    border-color: transparent;
    outline: 2px solid #ED145B;
}

#btnEntrarGrupo{
    cursor: pointer;

    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 20px;

    width: 100%;

    border: none;
    border-radius: 10px;
    background-color: #ED145B;

    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Poppins';

    transition: 0.2s;
}

#btnEntrarGrupo:hover{
    background-color: #f05589;
}

@media (max-width: 720px) {
    nav{
        display: none;
    }

    body, main{
        overflow-x: hidden;
    }

    #imgLogo{ display: none; }

    #imgLogoMq{
        user-select: none;
        -webkit-user-select: none;
        -webkit-user-drag: none;

        display: block;
        width: 40px;
    }

    #menuHamburguer{
        display: block;
    }

    #menuLateralMq{
        position: sticky;
        top: 82px;
        display: none;
        padding: 100px;
        width: 100%;
        align-items: flex-start;
        padding: 0;
        background-image: none;
    }

    #menuLateralMq section{
        margin-bottom: 30px;
    }

    #menuLateralMq section div a{
        padding: 10px;
        padding-right: 600%;
        margin-right: 80px;
        padding-top: 40px;
        padding-bottom: 40px;
        width: 100%;
    }

    #menuLateralMq section div a:hover{
        background-color: #ED145B;
    }
}