@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* { font-family: 'Poppins' ;}

body{
    display: flex;
    flex-direction: column;

    background-image: url('../img_forms/fundo-bg.jpg');
    background-repeat: no-repeat;
    background-position: 0px;
    background-size: cover;
}

form span, main span{
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    color: #ed145c;
    font-weight: 900;
}

form label, main label{
    color: white;
}

form, main{
    display: flex;
    flex-direction: column;

    align-self: center;
    justify-content: center;

    width: 550px;

    margin: 30px;
    padding: 16px;
    padding-left: 1px;

    background-color: #424242;
    border-radius: 10px;

    background-image: url('../img_forms/geometric-shapes.png');
    background-blend-mode: color-burn;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0px;

    transition: 0.3s;
}

form h2, main h2{
    color: white;
    text-transform: uppercase;
}

#logoForm{
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    width: 200px;
}

main .form-linha, main .form-coluna{
    display: flex;
    margin: 6px;

    width: 100%;
    height: auto;
}

main .form-linha div, main .form-coluna div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;

    margin: 10px;
    margin-top: 20px;
}

main .form-linha{
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

main .form-coluna{
    flex-direction: column;
}

/**/

input{
    width: 93%;
    height: 30px;

    background-color: #727272;

    text-align: center;
    outline: 2px solid transparent;
    border-radius: 10px;
    border: 1px solid transparent;

    transition: 0.2s;
}

input:hover{
    outline: 2px solid #ed145c;
    border-color: transparent;
}

input:focus{
    outline: 2px solid white;
}

/**/

#divCheck label{
    font-size: 13px;
}

#inputCheckSenha{
    accent-color: #ed145c;
    width: 16px;

    margin-right: 6px;
}

#inputCheckSenha:hover, #inputCheckSenha:focus{
    outline: none;
    border-color: none;
}

/**/

input[type=text], input[type=email], input[type=password]{ color: white; }

button{
    cursor: pointer;
    width: 93%;
    height: auto;
    padding: 14px;
    align-self: center;

    color: white;
    border: 2px solid transparent;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;

    background-color: #ed145c;
    transition: 0.3s;
}

button:hover{
    border-color: white;
}

/**/

@media (max-width: 700px){
    main, form{
        width: auto;
        background-position: 100%;
    }
}